

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 150px;
    font-family: fantasy;
    padding-bottom: 40px;
}

.card {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    font-family: fantasy;
}

.card img {
    width: 100%;
    height: auto;
}

.card form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: lightblue;
    border: none; /* Remove form border */
}

.card form input[type="text"] {
    border: none; /* Remove border */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9; /* Match the background color */
    cursor: not-allowed; /* Change cursor to not-allowed */
}

.card form input[type="submit"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #2e71bb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card form input[type="submit"]:hover {
    background-color: #0056b3;
}

.card form input[type="text"]::placeholder {
    color: #999; /* Change placeholder text color */
}

.card:hover {
    transform: scale(1.05);
}
