body{
    margin:0;
    padding:0;
    box-sizing: border-box;

    /* background-color:blue; */
}

.f1{
    position:relative;
    bottom:0;
    left:0;
    right:0;
    height:100px;
    font-family: 'Times New Roman', Times, serif;


}
.first{
    text-align: center;
    /* margin:30px;   */
    background-color:black;
}

.icon li {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:whitesmoke;
    display:inline-block;
    padding:0px 20px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;

}
.icon li a:hover{
    color:red;
}

.icon li a{
    color:wheat;
    text-shadow: 4px 2px 8px skyblue;
    font-size: 20px;

}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #cccccc;
     margin: 10px;
    border-radius: 50%;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a i{
    font-size: 2em;
    color: #333333;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: black;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}