
.nav {
    background-color:rgb(32, 47, 73);
font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    /*position: fixed;*/
    position: relative;
    overflow: hidden;
    top: 0;
    z-index: 1000;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
   display: inline-block;
}

.nav ul li a {
    /*display: block;*/
    padding: 20px 20px;
    text-decoration: none;
    color:whitesmoke;
    padding-left: 30px;
    padding-right: 40px;
    display: grid;
}

/*.logo{*/
/*    height: 10px;*/
/*    !*max-width: 20px;*!*/
/*    margin-bottom: -30px;*/
/*    justify-content: right;*/
/*}*/
/*.logo img{*/
/*    height: 40px;*/
/*    width: 30px;*/
/* }*/


.row{
    background-image: url(hotel6.jpg);
    padding-top: 50px;
}
