body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:blue;
}

.f1{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color:whitesmoke;
    height:100px;
    font-family: Poppins;
    color:aliceblue;


}
.first{
    text-align: center;
    margin:30px;
}

.icon li {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
    display:inline-block;
    padding:0px 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}
.icon li a:hover{
    color:red;
}

.icon li a{
    color:black;
    text-shadow: 4px 2px 8px skyblue;
    font-size: 25;

}
.f1 h3,p{
    text-align: center;

}

.f1 h3{
    font-size: 20px;
    text-shadow:4px 4px 8px blue;
    padding:20px;
}
.logo {
    max-width: 50px;
    margin-bottom: -20px;
}
.log {
    max-width: 50px;
    margin-bottom: -20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 500px;
    margin: auto;
    text-align: left;
    font-family:cursive;

}
.card-group {
    padding-top: 70px;
}
.card-text {
    font-family:cursive;
    font-size: 20px;

}
/* .img-fluid {
    width: 1000px;
    height: 50px;
    margin-bottom: 10px;
} */
.nav-item {
    font-family:cursive;
    font-size: large;
}

.card:hover {
    transform: scale(1.1);
}

.navbar-brand {
    font-family:cursive;

}

.nav-item:hover {
    transform: scale(1.1);
}

.navbar-brand:hover {
    transform: scale(1.1);
}
p.text1 {
    font-family: cursive;
    text-align: center;
    font-size: 20px;
    padding-top: 100px;
    color: blue;
    word-spacing: normal;

}
.col-sm-6 {
    padding-top: 50px;

}
.row{
    /* background-image: url(image.jpg); */
    padding-top: 50px;
}
.card1 {
    font-family: cursive;
    color:blue;
}

.col:hover {
    transform: scale(1.1);

}